$header-color: dodgerblue;

.container{
  margin: 40px auto;
}

header h1 {
  font: 400% sans-serif;
  color: $header-color;
  text-align: center;
}

.city-info, .weather{
  text-align: center;
  margin: 40px auto;
}
